<div class="col-md-12 user-container">
    <div class="row">
        <div class="col-sm-6">             
            <img src="assets/images/logo_instituto_1.png"  width="270px" height="80px">
        </div>
        <div class="col-sm-6">             
            <img src="assets/images/logo_cecy.png" width="200px" height="80px" align="right">
          </div>
      </div>     
  <br>
    <h4> Catálogo Tipos de Descuentos de los Cursos de Capacitación Continua</h4>
    <br>     
    <button class="btn btn-success" style="width:250px" (click)="openTipoDescuento(contentTipoDescuento,null,true)"> Añadir Tipo de Descuento</button>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Descripción del Descuento</th>
        <th>Valor del Descuento %</th>               
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tipodescuento of tipo_descuentos">
        <td class="hidden">{{tipodescuento.id}}</td>        
        <td>{{tipodescuento.descripcion}}</td>
        <td>{{tipodescuento.valor_descuento}}</td>              
        <td><button class="btn btn-danger" (click)="deleteTipoDescuento(tipodescuento)"> Borrar</button></td>
        <td><button class="btn btn-success" (click)="openTipoDescuento(contentTipoDescuento,tipodescuento,false)"> Editar</button></td>
      </tr>
      </tbody>
    </table>  
   <ng-template #contentTipoDescuento let-c="close" let-d="dismiss">
    <form name="tipodescuentos" method="post" #formCtrl="ngForm">
      <div class="modal-header">
        <div class="row">
          <h4 class="col-lg-12" name="titulo">Nuevo Tipo de Descuento</h4>
        </div>
      </div>
      <div class="modal-body" style="padding: 50px ">
        <div class="form-group row">
              <div class="col-lg-12">
                <label for="createTipoDescuento">
                  <b class="text-danger">*</b> Descripción del Descuento:
                </label>
                <input type="text" [(ngModel)]="tipo_descuentosNuevo.descripcion" class="form-control"           
                           id="descripcion" name="descripcion" placeholder="Ej. Estudiante Yavirac">                
               </div>
      </div>
       <div class="form-group row">
          <div class="col-lg-12" >
            <label for="createTipoDescuento">
              <b class="text-danger">*</b> Valor del Descuento %:
            </label>
            <input type="number" [(ngModel)]="tipo_descuentosNuevo.valor_descuento" class="form-control" 
                       id="valor_descuento" name="valor_descuento" placeholder="Ej. 50">
           </div>
           </div>                           
      </div>
      <div class="modal-footer" style="padding: 10px">        
        <button type="button" class="btn btn-success"  (click)="c('save')">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="c('close')">Salir</button>
      </div>
    </form>
  </ng-template>    
   </div>   
   
  



  
 