<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4"> 
            <img src="assets/images/logo.png" class="user-avatar" width="150px"/>           
            <h1>REGISTRO IGNUG</h1>
            <div>       
                <span>FAVOR INGRESE SUS DATOS</span>     
              </div>
            <form role="form">
            <div class="form-content">                       
              <div class="form-group">
                            <label for="userNuevo">
                            <i>
                              {{ 'Cédula' | translate }}
                            </i>
                          </label>
                        <input type="text" [(ngModel)]="userNuevo.user_name" class="form-control input-underline input-lg" 
                        id="user_name" name='user_name' placeholder="Ej: 1782892990"
                        maxlength="10" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;">
                </div>
              <div class="form-group">
                  <label for="userNuevo">
                  <i>
                            {{ 'Primer Nombre' | translate }}
                  </i>
                </label>
                       <input type="text" [(ngModel)]="userNuevo.name" class="form-control input-underline input-lg text-uppercase" 
                        id="name" name='name' placeholder="Ej: MARCO VEGA"
                        maxlength="20">
               </div>
              <div class="form-group">
                            <label for="userNuevo">
                                    <i class="fa fa-envelope">
                                      {{ 'Email' | translate }}
                                    </i>
                          </label> 
                          <div class="form-group input-group">
                              <input type="email" [(ngModel)]="userNuevo.email" class="form-control input-underline input-lg text-lowercase" 
                                id="email" name="email" placeholder="Ej: mvv1213@hotmail.com" maxlength="50">                          
                          </div>                        
                    </div>
              <div class="form-group">
                            <label for="userNuevo">
                                    <i class="fa fa-key">
                                      {{ 'Password' | translate }}
                                    </i>
                                  </label>
                        <input type="password" [(ngModel)]="userNuevo.password" class="form-control input-underline input-lg" 
                        id="password" name='password' placeholder="Ej: MVbaquito100%%" maxlength="30" >
                    </div>
                </div>         
                <a class="btn rounded-btn" style="background-color:transparent" (click)="createSignup()">
                  <i class="fa fa-registered"> {{ 'Crear Registro' | translate }}</i></a>&nbsp;
                <a class="btn rounded-btn" style="background-color:transparent"  [routerLink]="['/login']">
                    <i class="fa fa-paper-plane"> {{ 'Regresar al Login' | translate }}</i></a>&nbsp;
            </form>
        </div>
    </div>
</div>
