<button type="button" class="btn btn-primary fa fa-download btn-lg mt-3 mb-3" (click)="imprimir()" *ngIf="flagFormulario">
    Descargar
  </button><br>  
  <div class="container" id="formulario1">
    <div class="row ml-3" #encabezadoHojaVida>
      <div class="col-lg-3">
        <img src="assets/images/logo_senescyt.png" alt="">
      </div>
      <div class="col-lg-6 text-center">
        <p>        
          <strong>FORMULARIO DE MATRICULA</strong>
          <br>
          <strong>CURSOS DE CAPACITACIÓN CONTINUA</strong>
        </p>
      </div>
      <div class="col-lg-3 text-left">
        <img src="assets/images/logo_cecy.png" alt="" width="80%" height="50%">
      </div>
    </div>
    <div class="row m-5" #cuerpoHojaVida>
      <div class="col-lg-12">
        <table class="table table-bordered">
              <tr>
              <td colspan="3">                
                <strong class="ml-6 text-uppercase">EL/LA Participante:</strong>
                <i class="ml-3 text-uppercase">{{matricula.participante_nombre1}} {{matricula.participante_apellido1}}</i>
              </tr>
              <tr>
               <td colspan="3">                
                <strong class="ml-6 text-uppercase">Con Cédula de Ciudadanía:</strong>
                <i class="ml-3">{{matricula.participante_identificacion}}.</i>
               </tr>
               <tr>
                <td colspan="3">                
                <strong class="ml-6 text-uppercase">ha cumplido con la inscripción y el pago del curso de:</strong>
                <i class="ml-3 text-uppercase">{{matricula.nombre}}.</i>
                </tr>
                <tr>
                <td colspan="3">                
                <strong class="ml-6 text-uppercase">En el horario de:</strong>
                <i class="ml-3">{{matricula.hora_inicio + ' - ' + matricula.hora_fin}}</i>,
                </tr>
                <tr>
                <td colspan="3">                
                <strong class="ml-6 text-uppercase">modalidad:</strong>
                <i class="ml-3 text-uppercase">{{matricula.modalidad}}.</i>
                </tr>
                <tr>
                <td colspan="3">                
                <strong class="ml-6 text-uppercase">Por lo tanto se encuentra debidamente matriculado y puede recibir sin ningun impedimiento el curso mencionado.</strong>
                </td>              
               </tr>                  
        </table>
              <br><br>
      <div class="row m-5" #pieHojaVida align="right">
          <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12">
                  <i class="pull-right"> __________________________________________</i>
                  <strong class="pull-right">CENTRO DE EDUCACIÓN CONTINUA YAVIRAC:</strong>
                </div>
              </div>             
            </div>
      </div>
      </div>
    </div>   
  </div>  
  <div class="col-lg-2" align="center">
  <td><button class="btn btn-primary fa fa-arrow-left btn-lg" style="width:180px;" [routerLink]="['/matricula']"> REGRESAR</button></td>
  </div>
  <div class="col-lg-12" align="right">
  <td><button type="button" class="btn btn-success fa fa-download btn-lg" (click)="imprimir()"> DESCARGAR FORMULARIO</button></td>
  </div>
 
  
  
  